<div class="body">

    <div class="container">

        <div class="row mx-0">
            <div class="col-6">
                <!-- <h1 class="headerText fw-bold"><span class="giveColorEffect">Harsh</span> Kumar Jangid</h1> -->
            </div>
            <div class="col-6 my-auto">
                <div class="d-flex ">
                    <p class="headerText">Home</p>
                    <p class="headerText">About</p>
                    <p class="headerText">Services</p>
                    <p class="headerText">Portfolio</p>
                    <p class="headerText">Contact</p>
                </div>
            </div>
        </div>
    </div>


    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
</ul>
</div>

 